.places {
    max-width: 984px;
    margin: 92px 100px 0;
   /* margin: 0 auto 0; */
}
@media (max-width: 1210px) {
    .places {
      max-width: 928px;
      padding: 0;
      margin: 92px auto 0;
    }
  } 
  @media (max-width: 950px) {
    .places {
      max-width: 720px;
      margin: 88px 24px 0;
    }
  } 
  @media  (max-width: 767px) {
    .places {
      max-width: 320px;
      margin: 64px 0 0;
    }
  }