.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding-top: 80px;

}
@media (max-width: 1210px) {
    .place {
      grid-template-columns: 440px 1fr;
      gap: 48px 32px;
    }
  } 
  @media (max-width: 950px) {
    .place {
      grid-template-columns: 340px 1fr;
      gap: 48px 28px;
    }
  } 
  @media  (max-width: 767px) {
    .place {
      grid-template-columns: 1fr;
      gap: 32px
    }
  }