.lead {
    max-width: 984px;
    padding: 56px 0 0;
    margin: 0 auto 0;
    box-sizing: border-box;
}
@media (max-width: 1210px) {
    .lead {
      max-width: 928px;
      margin: 0 auto 0;
      padding: 56px 0 0;
    }
  } 
  @media (max-width: 950px) {
    .lead {
      max-width: 768px;
      margin: 0 auto 0;
      padding: 48px 0 0;
    }
  } 
  @media (max-width: 767px) {
    .lead {
      max-width: 320px;
      margin: 0 auto 0;
      padding: 48px 0 0;
    }
  } 