.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 640px;
    padding-top: 32px;
    margin: 0 auto 0;
}
@media (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
        max-width: 288px;
    }
}