.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0 auto 0;
}
@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding: 33px 16px 16px;
    }
}