.cover__item {
    background-image: url(../../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    min-height: 740px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.cover__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
   /*растягиваю псевдоэлемент на всю длинну родителя */
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: 0.4s;
}
.cover__item:hover::before {
    opacity: 0.8;
    
}
@media (max-width: 1210px) {
    .cover__item {
        max-width: 1024px;
        min-height: 640px;
    }
  } 
  @media (max-width: 950px) {
    .cover__item {
        max-width: 768px;
        min-height: 480px;
    }
  } 
  @media (max-width: 767px) {
      .cover__item {
          max-width: 320px;
          min-height: 200px;
      }
  }